body, html {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background: linear-gradient(to right, #cfec79, #43d581 );
    
}

.game-container {
    text-align: center;
    
}

.board {
    display: grid;
    grid-template-columns: repeat(3, 100px);
    grid-template-rows: repeat(3, 100px);
    gap: 6px;
    margin-bottom: 20px;
}

.cell {
    padding: 100px auto;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2em;
    background-color: rgb(255, 255, 255);
    border: 5px solid #333;
    cursor: pointer;
}

#resetBtn {
    padding: 10px 20px;
    font-size: 1em;
    border: none;
    border-radius: 50px;
    cursor: pointer;
    font-weight: bold;
    text-transform: uppercase;
    background-color: rgba(0, 0, 0, 0.816);
    color: aliceblue;
    

    
}

#resetBtn:hover {
    background: linear-gradient(to right, #f85353, #a12ab0);
}

#message {
    font-size: 1.2em;
    margin-top: 10px;
    font-weight: bolder;
}
